<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link href='http://fonts.googleapis.com/css?family=Chicle' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Galdeano' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="style.css">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<h1>The Evil League</h1>
<h2>From all the timelines, this is clearly the darkest. Which is why I propose we commit to being evil.</h2>

<form id="join">
  <input type="text" placeholder="Enter your name" name="name" id="name">
  <input type="submit" value="Join" id="submit">
</form>

<img class="separator" src="separator.png" />
<div class="subtitle">What is our goal?</div>

<div class="block">
<div class="left">
  <iframe width="560" height="315" src="http://www.youtube.com/embed/6RbKaLsxS0o?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
<div class="right">
  <p><strong>This is the darkest, most terrible timeline.</strong> Community is getting cancelled. Or has it ever existed? From now on, we are the Evil League, and we have but one evil goal. <span class="ex">Return to the prime timeline, the one where Community existed. Then we destroy the good versions of ourselves and we claim our proper lives.</span></p>

</div>
</div>

<img class="separator" src="separator.png" />
<div class="subtitle">Time to take action.</div>
<div class="block">
<div class="left-reg">
  <p><strong>This is the darkest, most terrible timeline.</strong> Community is getting cancelled. Or has it ever existed? From now on, we are the Evil League, and we have but one evil goal. <span class="ex">Return to the prime timeline, the one where Community existed. Then we destroy the good versions of ourselves and we claim our proper lives.</span></p>
</div>
<div class="right-reg">
  <img src="goatee.png" id="goatee"/>
</div>
</div>

</body>
</html>