<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Evil League to save Community</title>
  <meta name="description" content="The Evil League to save Community">
  <link href='http://fonts.googleapis.com/css?family=Chicle' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Galdeano' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="style.css">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=266298810066557";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div id="socialbar">
<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div class="fb-like" data-href="http://evilleague.heroku.com/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>

</div>
<h1>The Evil League</h1>
<div id="counter"><%= EvilUser.count %> members and counting...</div>
<h2>From all the timelines, this is clearly the darkest. Which is why I propose we commit to being evil.</h2>

<% if flash[:notice] %>
<p id="success"><%= flash[:notice] %></p>
<% else %>
<form id="join" method="post" action="/add">
  <% if flash[:error] %>
  <p id="error"><%= flash[:error] %></p>
  <% end %>
  <input type="text" placeholder="Your evil name" name="name" id="name">
  <input type="submit" value="Join" id="submit">
</form>
<% end %>

<img class="separator" src="separator.png" />
<div class="subtitle">What is our goal?</div>

<div class="block">
<div class="left">
  <iframe width="560" height="315" src="http://www.youtube.com/embed/6RbKaLsxS0o?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
<div class="right">
  <p><strong>This is the darkest, most terrible timeline.</strong> Community is getting cancelled. Or has it ever existed? From now on, we are the Evil League, and we have but one evil goal. <span class="ex">Return to the prime timeline, the one where Community existed. Then we destroy the good versions of ourselves and we claim our proper lives.</span></p>

</div>
</div>

<img class="separator" src="separator.png" />
<div class="subtitle">Time to take action.</div>
<div class="block">
<div class="left-reg">
  <p><strong>There's only one thing to do.</strong> Wear a black goatee on our social media pictures until we are able to grow our own.</p>
<br/>
<p>Until then, <strong>spread the word</strong> about the evil league to all your friends and aquaintance. The more we are, the bigger our chances to <strong>wipe away the darkest timeline</strong>.
</div>
<div class="right-reg">
  <img src="goatee.jpg" width="450px" id="goatee"/>
</div>
</div>


<img class="separator" src="separator.png" />
<div class="subtitle">Developpers</div>
<p>You can create a better timeline, or help improve this one.</p>

</body>
</html>