h1 {
  font-family: 'Chicle', cursive;
  font-size: 9em;
  color: #343434;
	text-align: center;
	margin-bottom: 0;
	margin-top: 100px;
}

div#counter {

	text-align: center;
    font-family: 'Galdeano', sans-serif;
    font-size: 2em;
    color: #99CCCC;
	position: relative;
	top: -35px;
	right: -27px;
}

html {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

h2 {
  font-family: 'Galdeano', sans-serif;
  font-size: 2em;
  color: #343434;
}

div.subtitle {
	  font-family: 'Galdeano', sans-serif;
  font-size: 1.5em;
  color: #343434;
	margin-left: 50px;
	margin-bottom: 30px;
}

div.left-reg {
	float: left;
	width: 490px;
}

div.right-reg {
	float: right;
	width: 490px;
	text-align: right;
}

div.left {
	width: 560px;
	float: left;
}

p {
	margin: 0;
  color: #343434;
	font: 1.5em/33px 'Galdeano', sans-serif;
	text-align: justify;
}

div.right {
	margin-left: 15px;
	width: 400px;
	float: right;
}


form#join {
	text-align: center;
	margin-top: 50px;
}

input#submit {
	font-size: 1.7em;
	padding:10px;
	border:1px solid #;
	text-align:center;

	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	color: #6c6c6c;
}

input#name {
	font-size: 2em;
}

img.separator {
	margin-top: 50px;

}